@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
*,
*::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ---------------------------------------Обнуление---------------------------------------*/
main {
  margin-bottom: 40px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  max-width: 810px;
  margin: 0 auto;
  font-family: "Lato";
}

.wrapper main {
  font-size: 16px;
}

.wrapper main h1 {
  font-size: 46px;
  line-height: 1.3;
  font-weight: 900;
  margin-bottom: 26px;
}

.content__icons {
  position: relative;
  display: block;
  line-height: 1.6;
  color: #787a80;
  margin-bottom: 40px;
}

.content__icons .content__icon-calendar {
  display: inline;
  margin-right: 24px;
}

.content__icons .content__icon-calendar::before {
  display: inline-block;
  content: "";
  background-image: url("../image/Calendar.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0 4px;
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.content__icons .content__icon-clock {
  display: inline;
  position: relative;
  /* Посмотрю можно ли от неё позиционировать если нет попробую от image  Не получилось №1*/
}

.content__icons .content__icon-clock::before {
  display: inline-block;
  content: "";
  background-image: url("../image/Clock.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0 4.5px;
  height: 18px;
  width: 18px;
  margin-right: 8.67px;
}

div.content {
  position: relative;
}

div.content:last-child {
  margin-bottom: 40px;
}

div.content .content__share {
  /*БОЖЕ СКОЛЬКО Я ЖЕ С ЭТИМ МУЧАЛСЯ */
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: 700;
}

div.content .content__share .content__text {
  line-height: 1.6;
  display: inline;
  margin-right: 12px;
}

div.content .content__share .content__link {
  font-size: 20px;
  /*не знаю что я сделал но получилось красиво */
  display: inline-block;
  margin-right: 12px;
}

div.content .content__share .content__link:last-child {
  margin-right: 0;
}

div.content .content__share .content__link:hover {
  background-color: #424551;
}

/*TODO  Просмотреть касательно SHARE и его иконок */
.main__image {
  margin-bottom: 60px;
}

.main__dark-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}

div.text {
  line-height: 1.6;
  /* Делаю специально, чтобы на начальной поре для себя видеть вложенность. */
}

div.text .text__first {
  margin-bottom: 33px;
}

div.text .text__second {
  margin-bottom: 48px;
}

.main__lorem .main__dark-lorem {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 48px;
  margin-left: 60px;
}

.main__lorem .main__dark-lorem::before {
  /* РАЗОБРАТЬ */
  content: "";
  display: inline-block;
  background-image: url("../image/braces.svg");
  background-repeat: no-repeat;
  background-size: 28px 20px;
  width: 28px;
  height: 20px;
  margin-right: 32px;
  margin-left: -60px;
  /*Прошу пояснительную бригаду сюда */
}

div.main__list {
  color: #424551;
  line-height: 1.5;
}

div.main__list .main__before-item {
  margin-bottom: 24px;
}

div.main__list .item-main__list {
  display: block;
  /* Знаю это и так по умолчанию, опять же для понимания вложенности */
  margin-bottom: 4px;
  position: relative;
  left: 30px;
  /*padding-left: 32px; */
  /*
        background-image: url(../image/check.svg);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 0px 5px; */
  /*
        &::before {
            content: "";
            display: inline-block;
            background: url("../image/check.svg") 0 2px / 16px no-repeat;
            width: 18px;
            height: 18px;
            margin-left: -32px;
            margin-right: 16px;
        }
        */
}

div.main__list .item-main__list::before {
  content: url("../image/check.svg");
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: -30px;
}

div.main__list .item-main__list:last-child {
  margin-bottom: 24px;
}
